@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --color-accent: var(--accent);
}

:root {
  --background: #11141e; /* deeper dark for main content area */
  --foreground: #e2e8f0; /* light gray for text */
  --sidebar: #191e2b; /* slightly lighter for sidebar and panels */
  --accent: #2563eb; /* blue accent */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

